@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  overflow-x: hidden;
  
}

.card-content{
  text-decoration: none;
  color: black;
}